*{
	margin: 0;
	padding: 0;
}

body{
	background: #F5F5F5;
	background: url('../img/tree_animation_off.gif') center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 39pt;
}

#wrapper{
	background: url('../img/blank.png') no-repeat;
	top: 50%;
	left: 50%;
	width: 683px;
	height: 368px;
	position: absolute;
	margin-top: -184px;
	margin-left: -341px;
}

#body{
	padding: 30px 30px;
}

.action a{
	color: #E34323;
	font-weight: bold;
	text-decoration: none;
	float: left;
}

.action a:hover{
	color: #78C3E1;
}

.stop{
	color: #343432 !important; 
}

.play, .stop{
	width: 140px;
}

.play:hover, .stop:hover{
	cursor: cell;
}

.stop:hover{
	cursor: url('../img/circle.png');
	color: #78C3E1 !important;
}

.volume{
	width: 60px;
	height: 5px;
	background: #B9B9B9;
	display: inline-block;
	position: relative;
	top: -10px;
}

.ui-slider-handle{
	z-index: 2;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url('../img/circle.png') no-repeat 50% 50%;
	outline: none;
	position: relative;
	top: -5px;
	margin-left: -5px;
	cursor: default;
}

.audio{
	float: left;
	width: 462px;
}

.time{
	font-weight: bold;
	float: left;
	display: inline-block;
}

.blink{
	animation-duration: 1s;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes blink{
	from{
		opacity: 1;
	}to{
		opacity: 0;
	}
}
